#logo {
    vertical-align: top;
}

.input-Output {
	display: inline-flex;
}

.hk-split-maker-monaco-editor {
    width: 600px;
    height: 400px;
    border: 1px solid #ccc;
}

.separator {
	width:20px;
}

.output-container {
    display: table-caption;
}
