body {
    background-color: #2f3136;
    color: rgb(220, 221, 222);
}
.app {
    padding: 10px 30px;
}
h1, h2 {
    color: white;
    font-variant: small-caps;
    text-align: center;
}
a {
    color: #00b0f4;
}
.output-container {
    display: table-caption;
}

.hk-split-maker-monaco-editor {
    width: 100%;
    height: 400px;
    border: 1px solid #ccc;
}
.hk-split-maker-monaco-editor .monaco-editor,
.hk-split-maker-monaco-editor .monaco-editor .margin,
.hk-split-maker-monaco-editor .monaco-editor-background {
    background-color: #2f3136;
}

#logo {
    height: auto;
    width: 90%;
    max-width: 600px;
}

#main {
    display: flex;
    width: 100%;
}
#main .side {
    width: calc(50% - 20px);
}
#left {
    margin-right: 20px;
}
#right {
    margin-left: 20px;
}
.output-container {
    display: block;
    width: 100%;
}

@media (max-width: 750px) {
    #main {
        flex-direction: column;
    }
    #main .side {
        width: 100%;
    }
    #left, #right {
        margin: 0;
    }
}
#submit-button {
    margin-left: auto;
    margin-right: 0;
}
#download-button {
    margin-left: 0;
}
